.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipt{
    height: 100%;
    background: linear-gradient(
    90deg, #FEFF00 64.4%, #FFFFFF 50%);
}

table, th, td{
  border: 1px solid black;
}

h1, h2, h3{
  text-align: center;
}

h1{
  font-size: 1.75rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.10rem;
}

.container{
  overflow: hidden;
  margin: 15px 5px 0 10px;
}

.p1{
float: left;
}

.p2{
float: right;
}

#inputdef{
  margin-bottom: 20px;
}

label{
  clear: left;
  width: 75px;
  text-align: right;
}


input, label {
display: inline-block;
float: left;
padding-right: 5px;
}

.blank-td{
  height: 450px;
}

.blank-total-td{
  height: 22px;
}

.dark-header{
  color:yellow;
  background-color: black;
}

.nest-table{
  width: 64.5%;
  margin-top: 0px;
  font-size: 0.8em;
  border: 1px;
  border: 1px solid black;
}

.nested-table{
    width: 100%;
    margin-top: 450Px;
}

.total-td{
  text-align: center;
}

.nest-tr{
  align-items: center;
}

.item{
  width: 10%;
}

.despt{
  width: 55%;
}

.qnty, .item, .despt{
  text-align: center;
}

.size-control{
  margin-top: 450px;
  width: 117px;
}

.snd-size-control{
  margin-top: 450px;
  width: 90px;
}

.Ruppes{
    width: 110px;
    margin-top: 20px;
}

#ruppes{
  margin-top: 20px;
  width: 350px;
  margin-left: 5px;
}

.tution-fee{
    width: 206px;
    margin-top: 20px;
}

.signature{
  width: 500px;
  margin-top: 20px;
}

.total{
  font-weight: bold;
}